.Hero {
    text-align: center;
    height: 85vh;
    padding-top: 90px;
    margin: 0 auto;
    position: relative;
}

.Hero h1 {
    font-weight: 700;
}

.Hero p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.BackgroundImage {
    background: url(../../assets/Groceries-Scattered.png);
    background-repeat: no-repeat;
    background-position-y: 110px;
    background-position-x: 150px;
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
}